:root {
    --primary-color: #FFCB9A;
    --secondary-color: #116466;
    --third-color: #fff;
}

body {
    background: #000;
}

h1, h2, h3 {
    color: var(--third-color);
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p {
    color: var(--third-color);
    font-size: 16px;
    font-family: "Poppins";
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}
.active {
    color: var(--primary-color) !important;
}

.navitem {
    padding: 0 20px;
}

.hero {
    text-align: center;
    line-height: 2;
}

.container {
    margin-top: 120px;
    margin-bottom: 20px;
}

.btn-branding {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 3px;
    font-size: 16px;
    line-height: 27px;
    padding: 12px 15px;
    margin: 25px;
}

.btn-button {
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 3px;
    font-size: 16px;
    line-height: 27px;
    padding: 12px 15px;
    margin: 25px;
}

.skills-container {
    border: solid;
    border-color: var(--primary-color);
    border-radius: 2px;
    padding: 10px;
}

.fab, .far {
    font-size: 40px;
    color: var(--primary-color);
    padding: 15px;
}

.labelStyle {
    color: var(--secondary-color);
}